<title>Todo | Show Task</title>
<h1>I need to...</h1>

<p>Title: <%= @task.title %></p>

<p>Completed: <%= @task.completed %></p>

<p>Due at: <%= @task.due_at %></p>

<p>Location: <%= @task.location %></p>