<div class="container">
  <footer class="footer footer-fixed-bottom">
    <small>
      <a href="#">TODO</a>
      by Ashley Tindell
    </small>
    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
      </ul>
    </nav>
  </footer>
</div>